.home-container {
    background: linear-gradient(-45deg, #ff3d00, #ff0058, #8f00ff, #00d2ff) !important;
    background-size: 400% 400% !important;
    animation: abstractGradient 15s ease infinite !important;
}

@keyframes abstractGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.search-box {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(25px) saturate(200%) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 50px !important;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}