.home-container {
    background-color: #ffffff !important;
    background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%), linear-gradient(-45deg, #f0f0f0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f0f0f0 75%), linear-gradient(-45deg, transparent 75%, #f0f0f0 75%) !important;
    background-size: 40px 40px !important;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px !important;
}

.search-box {
    border-radius: 4px !important;
    border: 2px solid #333 !important;
}