.home-container {
    background-color: #fdf6e3 !important;
    background-image: url('https://www.transparenttextures.com/patterns/parchment.png') !important;
}

.logo-container h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    color: #5d4037 !important;
}

.search-input {
    background: transparent !important;
    border-bottom: 2px solid #5d4037 !important;
    border-radius: 0 !important;
}